:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);

  --white: hsl(0, 0%, 100%);
  --veryLightGrayBlue: hsl(210, 60%, 98%);
  --ligthGrayBlue1: hsl(211, 68%, 94%);
  --ligthGrayBlue2: hsl(205, 33%, 90%);
  --grayBlue: hsl(219, 14%, 63%);
  --darkGreaBlue: hsl(219, 12%, 42%);
  --darkBlue: hsl(224, 21%, 14%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

@media screen and (min-width: 376px) {
  html, body {
    background-color: var(--ligthGrayBlue1);
  }
}